{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}News Collection - Log in{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Log in</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <br>
        <p>
            New user?
            <a href="{{ url_for('auth.register') }}">
                Register
            </a>
        </p>
        <p>
            Forget password?
            <a href="{{ url_for('auth.password_reset_request') }}">
                Reset
            </a>
        </p>
    </div>
{% endblock %}