{% extends "base.html" %}

{% block title %}News Collection - Confirm{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>
            Hello, {{ current_user.username }}!
        </h1>
        <h3>You are not confirmed</h3>
        <p>
            You need to confirm you email first.
        <p>Please check you mailbox and verify you email.</p>
        </p>
        <p>
            Do not receive verification email?
            <a href="{{ url_for('auth.resend_confirmation') }}">Resend</a>
        </p>
        <p>
            <a href="{{ url_for('auth.immediate_confirm') }}" class="btn btn-danger">Verify</a>
        </p>
    </div>
{% endblock %}
