{% extends "bootstrap/base.html" %}

{% block title %}News Collection - Your Channel{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='baijia.css') }}">

{% endblock %}

{% block metas %}
    <meta name="viewport" content="width=device-width,minimum-sca、‘le=0.5,maximum-scale=2.0">

{% endblock %}


{% block navbar %}
    <header id="header-wrapper" class="bjh-header"
            style="width: auto; min-width: 0px; height: auto; padding-left: 15%; ">
        <nav class="bjh-header-content" style="width: inherit;">
            <a href="/" class="bjh-header-logo">
                <img src="{{ url_for('static', filename='logo.png') }}"
                     alt="logo">
            </a>
            <ul class="bjh-header-top" style="padding-top: 20px; float: none; max-width: 40%;">
                <li class="bjh-header-top-item" style="padding-top: 15px;">
                    <a href="{{ url_for('main.subscribe') }}" style="font-size: 20px">Subscription</a></li>
                {% if current_user.is_authenticated %}
                    <li class="bjh-header-top-item dropdown" style="padding-top: 15px;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           style="font-size: 20px;">{{ current_user.username }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('auth.change_password') }}">Update password</a></li>
                            <li><a href="{{ url_for('auth.change_email_request') }}">Update email</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
                            <li><a href="{{ url_for('main.information') }}">User information</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="bjh-header-top-item" style="padding-top: 15px;"><a href="{{ url_for('auth.login') }}" style="font-size: 20px">Log
                        in</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="bjh-header-list" style="margin: 0;">
                <li class="bjh-header-item"><a href="/">Home</a></li>
                {% for category in categories %}
                    <li class="bjh-header-item {% if category==cur_category %} bjh-header-item-choose{% endif %}">
                        <a href="/?category={{ category }}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <div class="container" style="width:auto;">
        {% for message in get_flashed_messages() %}
            <div class="alter alter-waring">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </div>
    <footer style="padding-left:50%; padding-bottom: 30px; font-size: 15px">
        <p class="copyright">&copy; 2018 - <a href="https://www.jianyang995.com">Jian Yang</a></p>
    </footer>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}

