{% extends "base.html" %}

{% block title %}News Collection - User Information{% endblock %}

{% block page_content %}
    <div class="page-header">
        <div class="profile-header">
            <h3>Username: {{ current_user.username }}</h3>
            <br/>
            <h4>
                Register time: {{ moment(current_user.member_since).format('L') }}.
            </h4>
            <h4>
                Last log in time: {{ moment(current_user.last_seen).fromNow() }}.
            </h4>
            <br/>
            {% if current_user==current_user %}
                <a class="btn btn-default" href="{{ url_for('.subscribe') }}">Subscribed columns</a>
            {% endif %}

        </div>
    </div>
{% endblock %}